* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-image: url('../img/FondoMovil1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: relative;
    width: 100%;
    min-width: 32rem;
    padding: 2rem 1rem;
    z-index: 9999;
}

.header-responsive-container {
    display: flex;
    width: 100%;
    position: relative;
}

.responsive-menu-container {
    position: absolute;
    right: 0;
    font-size: 3rem;
}

.responsive-menu-container{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.responsive-logo-container img{
    width: 80%;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 0 10rem;
    background-color: #131313;
    text-align: center;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    opacity: 0;

}

.nav-skip {
    color: white;
    font-size: 3rem;
    padding: 2rem 2rem 0 0;
    margin-bottom: 8rem;
    text-align: right;
}

nav.active {
    opacity: 1;
    transform: translateX(0);
}

.nav-container li {
    list-style: none;
    margin-bottom: 5rem;
    text-align: center;
}

.nav-container li a {
    color: white;
    text-decoration: none;
    border-bottom: 0.1rem solid #37FDE8;
    padding-bottom: 1rem;
}

.nike-button {
    display: inline-block;
    padding: 1rem 1rem;
    background-color: #37FDE8;
    text-decoration: none;
    color: black;
    border-radius: 0.3rem;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 2rem;
}

.header-icon-container {
    display: none;
}

.header-login-container {
    display: none;
}

main {
    padding: 2rem;
}

.main-hero-container {
    width: 100%;
    text-align: center;
}

.hero-title-container {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.hero-title-content h1 {
    color: white;
    font-size: 5rem;
}

.hero-title-content p{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.hero-info {
    color: #37FDE8;
    font-size: 5rem;
    padding-top: 2.7rem;
    font-weight: 600;
}

.hero-sneaker img {
    display: inline-block;
    width: 100%;
}

.hero-end-container p {
    color: white;
    margin-bottom: 4rem;
}

.hero-end-container a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: rgba(217, 217, 217, 0.50);
    border-radius: 2rem;
    padding: 1rem 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-width: 32rem;
}

.footer-redes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 4rem;
}

.footer-redes-container a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.footer-derechos-container {
    padding-bottom: 2rem;
}

.footer-derechos-container a {
    color: white;
    text-decoration: none;
    margin-bottom: 10rem;
}